.search-bar {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 20px 0;
  max-width: 600px;
  margin-left: auto;
  margin-right: auto;
}

.search-bar input[type="text"] {
  padding: 12px 15px;
  border: 1px solid #555;
  border-radius: 25px;
  margin-right: 10px;
  font-size: 16px;
  background-color: #333;
  color: #fff;
  width: 100%;
  box-sizing: border-box;
  outline: none;
}

.search-bar input[type="text"]::placeholder {
  color: #aaa;
}

.search-bar button {
  padding: 12px 20px;
  border: none;
  border-radius: 25px;
  background-color: #e50914; /* Netflix red */
  color: white;
  font-size: 16px;
  cursor: pointer;
  transition: background-color 0.3s ease;
  outline: none;
}

.search-bar button:hover {
  background-color: #f40612;
}

/* Add some responsiveness for smaller screens */
@media (max-width: 600px) {
  .search-bar {
    flex-direction: column;
    width: 90%;
  }
  .search-bar input[type="text"] {
    margin-right: 0;
    margin-bottom: 10px;
    width: calc(100% - 30px); /* Adjust for padding */
  }
  .search-bar button {
    width: 100%;
  }
}